@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Jua&display=swap");

:root {
  --my-teal: rgb(0, 183, 196);
  --my-lime: rgb(238, 252, 87);
  --my-orange: rgb(255, 159, 95);
  --my-fuschia: rgb(228, 62, 128);
  --my-purple: rgb(154, 52, 142);
  --my-yellow: rgb(255, 235, 121);
  --my-pink: rgb(255, 182, 219);
  --med-pink: rgb(255, 146, 201);
  --dark: rgb(136, 4, 120);
  --my-jade: rgb(157, 226, 200);
  --ribbon-size: 5px;
  --text-bright: var(--r-gray-1);
  --text-main: #e9e9ed;
  --text-accent: var(--r-blue-1);
  --text-dark: navy;
  --bg-main: var(--r-blue-3);
  font-family: "Jua", "ABeeZee", Verdana, sans-serif;
  color: var(--text-main);
}

html,
body {
  height: 100vh;
  width: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: var(--text-bright);
  font-size: 3rem;
}

h1 svg {
  padding-top: 0.25em;
  margin-right: 0.25em;
  color: var(--text-accent);
}

h3 {
  margin: 0.75rem 0;
}

body {
  background-color: var(--bg-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

#shelf {
  max-width: 100%;
}

#shelf header {
  color: var(--text-accent);
}

.row {
  display: flex;
  font-size: 1.5rem;
}

div.row {
  border-top: 1px dotted var(--text-accent);
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
}

input {
  font-size: inherit;
  font-family: inherit;
  background-color: var(--text-main);
  border: none;
  outline: 0;
  border-radius: 0.25rem;
  color: var(--text-dark);
  min-width: none;
  width: 0;
}

input,
.display div {
  padding: 1px 4px;
}

h3 {
  font-size: inherit;
}

.ribbon {
  width: 5rem;
}

button.ribbon {
  font-size: inherit;
  border: 0;

  background-color: transparent;
  cursor: pointer;
}

.ribbon svg {
  transition: transform 100ms ease-in-out, opacity 100ms ease-in-out;
  color: var(--text-dark);
  opacity: 0.5;
  margin-right: 1.25rem;
}

svg.read {
  color: var(--text-accent);
  opacity: 1;
}

button.ribbon:hover svg {
  transform: scale(1.25);
  opacity: 1;
}

.info {
  display: flex;
  gap: 1.5rem;
  margin-right: 0.5rem;
}

.default.display {
  font-style: italic;
}

.title {
  min-width: 24rem;
}

.author {
  width: 12rem;
}
.pages {
  width: 5rem;
}

.buttons button {
  color: var(--text-dark);
  opacity: 0.5;
  font-size: inherit;

  padding: 0.125rem 0.5rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: transform 100ms ease-in-out, opacity 100ms ease-in-out;
}

svg {
  height: 1em;
}

.buttons button:hover {
  transform: scale(1.2);
  opacity: 1;
}

button.add {
  width: 100%;
  font-size: 1.5rem;
  color: var(--bg-main);
  padding: 0.25rem;
  border: 0;
  border-radius: 0.25rem;
  margin-top: 1rem;
  transition: background-color 50ms ease-in;
}

button.add:hover {
  background-color: var(--text-accent);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.hidden {
  display: none;
}
